// colors
$accentColor = #d25349
$textColor = #6a524a
$borderColor = #eaecef
$codeBgColor = #f5f5f5
$codeHlColor = #ffada6
$codeFgColor = #6a524a
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
