$accentColor = #d25349
$textColor = #6a524a
$borderColor = #eaecef
$codeBgColor = #282c34

.hero
	margin-top: 180px

.home .features
	display: none

.hero img
	position: fixed
	top: 10px
	width: 100%
	left: 0

@media(max-width: 720px)
	.hero
		margin-top: 40px

	.hero h1
		display: none

	.hero img
		top: 25px

